<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818178737357-bfbu6qt63chqapjr0pokknafe43tmgjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818178737357-bfbu6qt63chqapjr0pokknafe43tmgjg</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ7uG35PQyP4vh2kHMpQyZdIerDXLlnUc</string>
	<key>GCM_SENDER_ID</key>
	<string>818178737357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.paulfran.FirebaseTodo</string>
	<key>PROJECT_ID</key>
	<string>fir-todo-e2355</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-todo-e2355.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818178737357:ios:3ed192435116435485d584</string>
</dict>
</plist>